body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', serif;
  }
  
  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  #mainTitle {
    left: 20px;
    top: 20px;
    width: 300px;
    height: 50px;
    background: #201d1d;
    position: absolute;
    padding: 20px;
    z-index: 2;
    border-radius: 10px;
    font-size: 40px;
    color: white;
    text-align: center;
    font-family: 'Oswald', sans-serif;
  }
  
  .toggle-container {
    position: absolute;
    top: 500px;
    left: 10px;
    z-index: 3;
}

  #info {
    z-index: 1;
    position: absolute;
    width: 20%;
    top: 0;
    bottom: 50%;
    right: 0%;
    height: 100%;
    background: #201d1d;
    padding: 20px;
    color: white;
    border-radius: 10px;
  }
  
  /* social media icons */
  #info a {
    color: lightgray;
  }
  
  #info a:hover {
    color: white;
    opacity: 0.3;
  }
  
  #title {
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
  }
  
  /* social media icons */
  #title span {
    font-size: 14px;
    float: right;
    margin-right: 10px;
  }
  
  /* card decks */
  #desc {
    text-align: left;
    color: lightgray;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 0px;
  }
  
  #earthquake-count {
    margin:0;
    text-align: center;
    color: orange;
    font-size: 50px;
  }
  
  #earthquake-chart {
    top: 20px;
  }
  
  
  #footer {
    position: absolute;
    bottom: 0px;
    margin-right: 10px;
    font-size: 13px;
    line-height: 150%;
    color: lightgray;
  }
  
  /* the layout of the legend panel */
  #legend {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 110px;
      background: #fff;
      margin-right: 20px;
      margin-bottom: 40px;
      padding: 10px 20px 10px 10px;
      border-radius: 3px;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
  }
  
  /* each line for a break */
  .break {
      position: relative;
      margin: 0px;
      padding: 0px;
  }
  
  /* basic style for a dot/circle */
  .dot {
      display: inline-block;
      margin-top: 5px;
      border-radius: 50%;
      opacity: 0.6;
  }
  
  /* the label for the dot */
  .dot-label {
      position: absolute;
      top: 0;
      right: 0;
      font-style: italic;
  }
